.home-page {
  padding: 10px;
}

.image-card {
  width: 265px;
}

.footer-card {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  width: 100%;
}

.category-card {
  display: flex;
  gap: 6px;
}

.layout-cards {
  display: flex;
  gap: 32px;
}
